@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    font-family: Montserrat;
    color: #320505;
}

body{
    background-color: #C2C0E6;
   
}

main{
    justify-items: center;
    padding-bottom: 55px;
}

section{
    background-color: #F7E6DE;
    width: 90%;
    height: auto;
    border-radius: 20px;
    margin-top: 50px;
    padding: 50px 25px 50px 25px;
    
}